@import '../../assets/scss/vars';

.wrapper {
  margin-bottom: 1rem;
  background-color: $bg-medium;
  color: $text-light
}

.link {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  border: 1px solid rgba($bg-base, .1);
  border-radius: 3px;
  transition: box-shadow .2s ease-in-out;

  &:hover {
    box-shadow: 1px 3px 9px rgba($bg-base, .3);
  }
}

.avatar {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 3px;
  margin-right: 2rem;
}

.name {
  margin: 0;
}