$text-dark: rgb(32, 35, 41);
$text-light: rgb(245, 245, 245);

$bg-base: rgb(32, 35, 41);
$bg-medium: rgb(36, 40, 47);
$bg-light: rgb(60, 62, 68);

$accent: rgb(255, 152, 0);

$success: rgb(85, 204, 68);
$danger: rgb(214, 61, 46);